[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdparty/gl3w"]
	path = 3rdparty/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json/
	branch = master
